<header class="header-area">
    <!-- Header top area start -->
    <div class="header-top-area border-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5 col-12">
                    <div class="top-bar-left">
                        <!-- welcome -->
                        <div class="welcome">
                            <p> bienvenue dans notre SiteWeb !</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-7 col-12">
                    <div class="top-bar-right pull-right clearfix text-uppercase">
                        <!-- language-menu -->
                        <div class="language-menu pull-left">
                            <select class="nice-select-menu" style="display: none;">
                                <option data-display="Français">Français</option>
                                <option value="1">Chinese</option>
                                <option value="2">Spanish</option>
                                <option value="3">Russian</option>
                                <option value="4">Hindi</option>
                                <option value="5">Arabic</option>
                            </select><div class="nice-select nice-select-menu" tabindex="0"><span class="current">Français</span><ul class="list"><li data-value="Français" data-display="Français" class="option selected">Français</li><li data-value="1" class="option">Chinese</li><li data-value="2" class="option">Spanish</li><li data-value="3" class="option">Russian</li><li data-value="4" class="option">Hindi</li><li data-value="5" class="option">Arabic</li></ul></div> 
                        </div>
                        <!-- currency-menu -->
                        <div class="currency-menu pull-left">
                            <select class="nice-select-menu" style="display: none;">
                                <option data-display="TND">TND</option>
                                <option value="1">CHF</option>
                                <option value="2">EUR</option>
                                <option value="3" disabled="">TAKA</option>
                                <option value="4">GBP</option>
                            </select><div class="nice-select nice-select-menu" tabindex="0"><span class="current">TND</span><ul class="list"><li data-value="TND" data-display="TND" class="option selected">TND</li><li data-value="1" class="option">CHF</li><li data-value="2" class="option">EUR</li><li data-value="3" class="option disabled">TAKA</li><li data-value="4" class="option">GBP</li></ul></div> 
                        </div>
                        <!-- login-register -->
                        <ul class="login-register pull-left">
                            <li><a href="login.html">Se connecter</a></li>
                            <li>Ou</li>
                            <li><a href="login.html">Créer un compte </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Top bar area end -->
    <!-- Header middle area start -->
    <div class="header-middle-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-12">
                    <!-- site-logo -->
                    <div class="site-logo">
                        <a href="index.html"><img src="src\assets\images\logo\logo.png" alt="Nikado"></a>
                    </div>
                </div>
                <div class="col-lg-7 col-12">
                    <!-- header-search -->
                    <div class="header-search clearfix">
                        <div class="category-select pull-left">
                            <select class="nice-select-menu" style="display: none;">
                                <option data-display="Categories">Categories</option>
                                <option value="1">Ordinateur  </option>
                                <option value="2">Impression</option>
                                <option value="3">Stockage </option>
                                <option value="4">Péripheriques &amp; Accessoires</option>
                                <option value="5">Composants informatiques </option>
                            </select><div class="nice-select nice-select-menu" tabindex="0"><span class="current">Categories</span><ul class="list"><li data-value="Categories" data-display="Categories" class="option selected">Categories</li><li data-value="1" class="option">Ordinateur </li><li data-value="2" class="option">Impression</li><li data-value="3" class="option">Stockage </li><li data-value="4" class="option">Peripheriques &amp; Accessoires</li><li data-value="5" class="option">Composants informatiques </li></ul></div> 
                        </div> 
                        <div class="header-search-form">
                            <form action="#">
                                <input type="text" name="search" placeholder="Recherche produit...">
                                <input type="submit" name="submit" value="Recherche">
                            </form>                                    
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-12">
                    <!-- shop-cart-menu -->
                    <div class="shop-cart-menu pull-right">
                        <ul>
                            <li><a href="wishlist.html"><i class="fa fa-heart-o"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-bag"></i><sup>3</sup></a>
                                <ul>
                                    <li>
                                        <!-- single-shop-cart-wrapper -->
                                        <div class="single-shop-cart-wrapper">
                                            <div class="shop-cart-img">
                                                <a href="#"><img src="src\assets\images\product\1.jpg" alt="Image of Product"></a>
                                            </div>
                                            <div class="shop-cart-info">
                                                <h5><a href="single-product.html">Péripheriques t-shirt men</a></h5>
                                                <span class="price">515.00</span>
                                                <span class="quantaty">Qty: 1</span>
                                                <span class="cart-remove"><a href="#"><i class="fa fa-times"></i></a></span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <!-- single-shop-cart-wrapper -->
                                        <div class="single-shop-cart-wrapper">
                                            <div class="shop-cart-img">
                                                <a href="#"><img src="src\assets\images\product\2.jpg" alt="Image of Product"></a>
                                            </div>
                                            <div class="shop-cart-info">
                                                <h5><a href="single-product.html">Flash Disque</a></h5>
                                                <span class="price">100.00</span>
                                                <span class="quantaty">Qty: 1</span>
                                                <span class="cart-remove"><a href="#"><i class="fa fa-times"></i></a></span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <!-- single-shop-cart-wrapper -->
                                        <div class="single-shop-cart-wrapper">
                                            <div class="shop-cart-img">
                                                <a href="#"><img src="src\assets\images\product\3.jpg" alt="Image of Product"></a>
                                            </div>
                                            <div class="shop-cart-info">
                                                <h5><a href="single-product.html">Imprimante</a></h5>
                                                <span class="price">265.00</span>
                                                <span class="quantaty">Qty: 1</span>
                                                <span class="cart-remove"><a href="#"><i class="fa fa-times"></i></a></span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <!-- shop-cart-total -->
                                        <div class="shop-cart-total">
                                            <p>Subtotal: <span class="pull-right">880.00</span></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="shop-cart-btn">
                                            <a href="checkout.html">Checkout</a>
                                            <a href="cart.html" class="pull-right">View Cart</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    <!-- hotline -->
                    <div class="hotline d-lg-none clearfix">
                        <div class="hotline-icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hotline-number">
                            <span><strong>(+216) 50 38 23 38</strong></span> 
                            <span>à votre disposition à tout moment</span>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header middle area end -->
    <!-- Header bottom area start -->
    <div id="sticky-header" class="header-bottom-area">
        <div class="container">
            <div class="row">
                <div>
                    <!-- main-menu -->
                    <div class="main-menu">
                        <nav style="display: block;">
                            <ul>
                                <li ><a href="index.html">Ordinateur <i class="fa fa-angle-down"></i></a>
                                    <ul class="submenu">
                                        <li><a href="index.html">Ordinateurs de Bureau </a></li>
                                        <li><a href="index-2.html">PC portable</a></li>
                                        <li><a href="index-3.html">Tablette Tactile</a></li>
  
                                    </ul>
  
                                </li>
                                <li ><a href="shop.html">Stockage <i class="fa fa-angle-down"></i></a>
                                  <ul class="submenu">
                                      <li><a href="index.html">Disques internes </a></li>
                                      <li><a href="index-2.html">Disques durs externes</a></li>
                                      <li><a href="index-3.html"> Clé-USB </a></li>
                                      <li><a href="index-3.html"> Carte Mémoire  </a></li>
  
                                  </ul>
  
                                </li>
                              
  
                                <li ><a href="portfolio.html">Impression <i class="fa fa-angle-down"></i></a>
                                  <ul class="submenu">
                                      <li><a href="index.html">Imprimantes </a></li>
                                      <li><a href="index-2.html">Photocopieurs</a></li>
                                      <li><a href="index-3.html"> Scanners</a></li>
                                     
  
                                  </ul>
  
                                </li>
  
  
  
                                <li><a href="#">Périphériques &amp; Accessoires <i class="fa fa-angle-down"></i></a>
                                  <ul class="megamenu-3-column">
                                      <li><a href="#">Périphériques</a>
                                          <ul>
                                              <li><a href="about.html">Souris</a></li>
                                              <li><a href="contact.html">Clavier</a></li>
                                              <li><a href="service.html">Webcam</a></li>
                                              <li><a href="faq.html">Casques</a></li>
                                              <li><a href="faq.html">Manette</a></li>
                                              
                                          </ul>
                                      </li>
                                      <li><a href="#">Accessoires</a>
                                          <ul>
                                              <li><a href="blog-without-sidebar.html">sac de PC </a></li>
                                              <li><a href="blog-left-sidebar.html">Tapis</a></li>
                                              <li><a href="blog-gallery-format.html">Lampe de bureau</a></li>
                                              
                                          </ul>
                                      </li>
  
                                  </ul>
                                 </li>
  
  
                              <li ><a href="portfolio.html">Composants informatiques<i class="fa fa-angle-down"></i></a>
                                  <ul class="submenu">
                                      <li><a href="index.html">Processseur </a></li>
                                      <li><a href="index-2.html">Ventilateur</a></li>
                                      <li><a href="index-3.html"> Carte mère </a></li>
                                      <li><a href="index-3.html"> Carte graphique</a></li>
  
                                  </ul>
  
                                </li>
                                  
                            </ul>
                        </nav>
                    </div>
                    <div class="mobile-menu clearfix"></div>
                </div>
                <div class="col-lg-3">
                    <!-- hotline -->
                    
                </div>
            </div>
        </div>
    </div>
    <!-- Header bottom area end -->
  </header>
  
  