<div id="deals-shoveler-ns_591FSDQPH1YD7RKD0WWN_7870_" class="a-section a-spacing-none shogun-widget deals-shoveler aui-desktop fresh-shoveler">


  <div class="a-section as-title-block">

    <h2 class="as-title-block-left">
      <span class="a-color-base">
        Black Friday Week : ventes flash à ne pas manquer
      </span>
    </h2>

    <span class="as-title-block-right">
      <a aria-label="Voir toutes les ventes flash de la Black Friday Week" class="a-link-normal" target="_blank" rel="noopener"
        href="https://www.amazon.fr:443/gp/redirect.html/ref=br_msw_smr?_encoding=UTF8&amp;location=https%3A%2F%2Fwww.amazon.fr%2Fb%3Fnode%3D8372000031&amp;source=standards&amp;token=E214269AC580AD9C554C833907704E0BD2F04640&amp;pf_rd_m=A1X6FK5RDHNB96&amp;pf_rd_s=&amp;pf_rd_r=591FSDQPH1YD7RKD0WWN&amp;pf_rd_t=36701&amp;pf_rd_p=bed7bf8d-e817-42ba-ac78-d127dca26759&amp;pf_rd_i=desktop">

        Voir toutes les ventes flash de la Black Friday Week

      </a>
    </span>

  </div>



  <div class="a-section feed-carousel">
    <div class="a-section feed-carousel-viewport">
      <ul class="a-unordered-list a-nostyle a-horizontal feed-carousel-shelf" role="list" style="left: 0px;">




        <li id="22d1ecb4" data-sgproduct="{&quot;asin&quot;:&quot;B072HVWJDP&quot;}" class="feed-carousel-card" aria-posinset="1"
          aria-hidden="false" role="listitem" aria-setsize="15" style="display: inline-block; margin-right: 10px;">
          <span class="a-list-item">
            <div class="deals-shoveler-card">
              <div class="deals-shoveler-card-image">
                <a class="a-link-normal  a-inline-block" href="/s/browse/ref=br_msw_pdt-1?_encoding=UTF8&amp;field-enc-merchantbin=A1X6FK5RDHNB96&amp;node=15754055031&amp;smid=A1X6FK5RDHNB96&amp;suppress-ve=1&amp;pf_rd_m=A1X6FK5RDHNB96&amp;pf_rd_s=&amp;pf_rd_r=591FSDQPH1YD7RKD0WWN&amp;pf_rd_t=36701&amp;pf_rd_p=bed7bf8d-e817-42ba-ac78-d127dca26759&amp;pf_rd_i=desktop">
                  <img alt="Withings: jusqu'à -40% sur une sélection de montres" src="https://images-na.ssl-images-amazon.com/images/G/08/acs/amazon-designer/2018/10/03/DURM-64186FBCA553B1CM.__AC_SY200_.jpeg"
                    class="product-image" title="Withings: jusqu'à -40% sur une sélection de montres" data-a-hires="https://images-na.ssl-images-amazon.com/images/G/08/acs/amazon-designer/2018/10/03/DURM-64186FBCA553B1CM.__AC_SY400_.jpeg">
                </a>
              </div>
              <div class="deals-shoveler-card-bottom">
                <div class="dealPrice" tabindex="0">
                  <span aria-hidden="true" class="a-size-medium">69,90&nbsp;€ - 119,90&nbsp;€</span>
                  <span class="aok-hide-text">de 69,90&nbsp;€ à 119,90&nbsp;€</span>
                </div>
                <div class="dealListPrice" aria-hidden="true"></div>
                <div tabindex="0">
                  <div aria-hidden="true">
                    <span class="a-color-tertiary gw-clock">Termine dans 09:05:56</span>
                  </div>
                  <div class="aok-hidden gw-clock-aria" role="timer" aria-hidden="false"></div>
                </div>
                <script aria-hidden="true">
                  P.when('A').execute("#deals-shoveler-ns_591FSDQPH1YD7RKD0WWN_7870_ #22d1ecb4updateClock", function (A) {
                    var cardSelector = "#deals-shoveler-ns_591FSDQPH1YD7RKD0WWN_7870_ #22d1ecb4",
                      $ = A.$,
                      $clock = $(cardSelector + ' .gw-clock'),
                      $clockAria = $(cardSelector + ' .gw-clock-aria'),
                      event = cardSelector.replace(/\s/g, "");
                    function greyDealPrice() {
                      var $dealPrice = $(cardSelector + ' .dealPrice');
                      $dealPrice.addClass('soldOutPrice');
                    }
                    A.on(event + 'updateTimer', function (displayString) {
                      $clock.text(displayString.timerString);
                      $clockAria.text(displayString.readoutString);
                    });
                    A.on(event + 'soldOut', function () {
                      greyDealPrice();
                    });
                    A.on(event + 'ended', function () {
                      greyDealPrice();
                    });
                  });
                </script>
                <script aria-hidden="true">
                  P.when('A', 'gw-count-down', "#deals-shoveler-ns_591FSDQPH1YD7RKD0WWN_7870_ #22d1ecb4" + 'beginWatching').execute("#deals-shoveler-ns_591FSDQPH1YD7RKD0WWN_7870_ #22d1ecb4" + "create-count-down", function (A, GWCountDown) {
                    var dealTimePrefix = {
                      starts_in: "Commence dans",
                      ends_in: "Termine dans",
                      has_ended: "L'offre est terminée",
                      sold_out: "Offre épuisée",
                      on_waitlist: "L'offre est sur la liste d'attente",
                      started: "L'offre a commencé !",
                      starts_in_timer: "Commence dans _hours_ hours _minutes_ minutes _seconds_ seconds",
                      ends_in_timer: "Se termine dans _hours_ heures _minutes_ minutes _seconds_ secondes"
                    };
                    var clock = new GWCountDown("#deals-shoveler-ns_591FSDQPH1YD7RKD0WWN_7870_#22d1ecb4", "-52747529", "33651471", "{\"lastUpdated\":\"1542721147529\",\"totalCouponCount\":\"0\",\"isValid\":\"1\",\"msToEnd\":\"33651471\",\"msCacheTtl\":\"600000\",\"claimedCouponCount\":\"0\",\"*classHierarchy*\":[\"dcs.model.DealStatus\"],\"dealState\":\"AVAILABLE\",\"*className*\":\"dcs.model.DealStatus\",\"dealItemStatus\":{},\"msToStart\":\"-52747529\",\"percentClaimed\":0}", dealTimePrefix);
                  });
                </script>
                <script aria-hidden="true">
                  P.register("#deals-shoveler-ns_591FSDQPH1YD7RKD0WWN_7870_ #22d1ecb4" + "beginWatching");
                </script>
              </div>
            </div>
          </span>
        </li>
        <li id="70fd47d5" data-sgproduct="{&quot;asin&quot;:&quot;B01B25PKB0&quot;}" class="feed-carousel-card" aria-setsize="15"
          aria-posinset="2" aria-hidden="false" role="listitem" style="margin-right: 10px; display: inline-block;">
          <span class="a-list-item">
            <div class="deals-shoveler-card">
              <div class="deals-shoveler-card-image">
                <a class="a-link-normal  a-inline-block" href="/dp/B06XKVCQW4/ref=br_msw_pdt-2?_encoding=UTF8&amp;smid=A1X6FK5RDHNB96&amp;pf_rd_m=A1X6FK5RDHNB96&amp;pf_rd_s=&amp;pf_rd_r=591FSDQPH1YD7RKD0WWN&amp;pf_rd_t=36701&amp;pf_rd_p=bed7bf8d-e817-42ba-ac78-d127dca26759&amp;pf_rd_i=desktop">
                  <img alt="Fitbit Alta bracelet d'activité" src="https://images-na.ssl-images-amazon.com/images/I/61yI7vWa83L._SL1000__AC_SY200_.jpg"
                    class="product-image" title="Fitbit Alta bracelet d'activité" data-a-hires="https://images-na.ssl-images-amazon.com/images/G/08/acs/amazon-designer/2018/10/03/DURM-644E5577B755APQE.__AC_SY400_.jpeg">
                </a>
              </div>
              <div class="deals-shoveler-card-bottom">
                <div class="dealPrice" tabindex="0">
                  <span class="a-size-medium">59,90&nbsp;€</span>
                </div>
                <div class="dealListPrice" aria-hidden="true">
                  <span aria-hidden="true" class="a-size-base a-color-tertiary a-text-strike">119,95&nbsp;€</span>
                </div>
                <div tabindex="0">
                  <div aria-hidden="true">
                    <span class="a-color-tertiary gw-clock">Termine dans 09:05:56</span>
                  </div>
                  <div class="aok-hidden gw-clock-aria" role="timer" aria-hidden="false"></div>
                </div>
                <script aria-hidden="true">
                  P.when('A').execute("#deals-shoveler-ns_591FSDQPH1YD7RKD0WWN_7870_ #70fd47d5updateClock", function (A) {
                    var cardSelector = "#deals-shoveler-ns_591FSDQPH1YD7RKD0WWN_7870_ #70fd47d5",
                      $ = A.$,
                      $clock = $(cardSelector + ' .gw-clock'),
                      $clockAria = $(cardSelector + ' .gw-clock-aria'),
                      event = cardSelector.replace(/\s/g, "");
                    function greyDealPrice() {
                      var $dealPrice = $(cardSelector + ' .dealPrice');
                      $dealPrice.addClass('soldOutPrice');
                    }
                    A.on(event + 'updateTimer', function (displayString) {
                      $clock.text(displayString.timerString);
                      $clockAria.text(displayString.readoutString);
                    });
                    A.on(event + 'soldOut', function () {
                      greyDealPrice();
                    });
                    A.on(event + 'ended', function () {
                      greyDealPrice();
                    });
                  });
                </script>
                <script aria-hidden="true">
                  P.when('A', 'gw-count-down', "#deals-shoveler-ns_591FSDQPH1YD7RKD0WWN_7870_ #70fd47d5" + 'beginWatching').execute("#deals-shoveler-ns_591FSDQPH1YD7RKD0WWN_7870_ #70fd47d5" + "create-count-down", function (A, GWCountDown) {
                    var dealTimePrefix = {
                      starts_in: "Commence dans",
                      ends_in: "Termine dans",
                      has_ended: "L'offre est terminée",
                      sold_out: "Offre épuisée",
                      on_waitlist: "L'offre est sur la liste d'attente",
                      started: "L'offre a commencé !",
                      starts_in_timer: "Commence dans _hours_ hours _minutes_ minutes _seconds_ seconds",
                      ends_in_timer: "Se termine dans _hours_ heures _minutes_ minutes _seconds_ secondes"
                    };
                    var clock = new GWCountDown("#deals-shoveler-ns_591FSDQPH1YD7RKD0WWN_7870_#70fd47d5", "-52747529", "33651471", "{\"lastUpdated\":\"1542721147529\",\"totalCouponCount\":\"0\",\"isValid\":\"1\",\"msToEnd\":\"33651471\",\"msCacheTtl\":\"600000\",\"claimedCouponCount\":\"0\",\"*classHierarchy*\":[\"dcs.model.DealStatus\"],\"dealState\":\"AVAILABLE\",\"*className*\":\"dcs.model.DealStatus\",\"dealItemStatus\":{},\"msToStart\":\"-52747529\",\"percentClaimed\":0}", dealTimePrefix);
                  });
                </script>
                <script aria-hidden="true">
                  P.register("#deals-shoveler-ns_591FSDQPH1YD7RKD0WWN_7870_ #70fd47d5" + "beginWatching");
                </script>
              </div>
            </div>
          </span>
        </li>
        <li id="ac95070a" data-sgproduct="{&quot;asin&quot;:&quot;B077VTX529&quot;}" class="feed-carousel-card" aria-setsize="15"
          style="margin-right: 10px; display: inline-block;" aria-posinset="3" aria-hidden="false" role="listitem">
          <span class="a-list-item">
            <div class="deals-shoveler-card">
              <div class="deals-shoveler-card-image">
                <a class="a-link-normal  a-inline-block" href="/s/browse/ref=br_msw_pdt-3?_encoding=UTF8&amp;node=15762062031&amp;smid=A1X6FK5RDHNB96&amp;pf_rd_m=A1X6FK5RDHNB96&amp;pf_rd_s=&amp;pf_rd_r=591FSDQPH1YD7RKD0WWN&amp;pf_rd_t=36701&amp;pf_rd_p=bed7bf8d-e817-42ba-ac78-d127dca26759&amp;pf_rd_i=desktop">
                  <img alt="Kickers : jusqu'à -40% sur une sélection de chaussures" src="https://images-na.ssl-images-amazon.com/images/G/08/acs/amazon-designer/2018/11/19/DURM-39DBB9E1954F62FH.__AC_SY200_.jpeg"
                    class="product-image" title="Kickers : jusqu'à -40% sur une sélection de chaussures" data-a-hires="https://images-na.ssl-images-amazon.com/images/G/08/acs/amazon-designer/2018/11/19/DURM-39DBB9E1954F62FH.__AC_SY400_.jpeg">
                </a>
              </div>
              <div class="deals-shoveler-card-bottom">
                <div class="dealPrice" tabindex="0">
                  <span aria-hidden="true" class="a-size-medium">17,85&nbsp;€ - 96,75&nbsp;€</span>
                  <span class="aok-hide-text">de 17,85&nbsp;€ à 96,75&nbsp;€</span>
                </div>
                <div class="dealListPrice" aria-hidden="true"></div>
                <div tabindex="0">
                  <div aria-hidden="true">
                    <span class="a-color-tertiary gw-clock">Termine dans 09:05:56</span>
                  </div>
                  <div class="aok-hidden gw-clock-aria" role="timer" aria-hidden="false"></div>
                </div>
                <script aria-hidden="true">
                  P.when('A').execute("#deals-shoveler-ns_591FSDQPH1YD7RKD0WWN_7870_ #ac95070aupdateClock", function (A) {
                    var cardSelector = "#deals-shoveler-ns_591FSDQPH1YD7RKD0WWN_7870_ #ac95070a",
                      $ = A.$,
                      $clock = $(cardSelector + ' .gw-clock'),
                      $clockAria = $(cardSelector + ' .gw-clock-aria'),
                      event = cardSelector.replace(/\s/g, "");
                    function greyDealPrice() {
                      var $dealPrice = $(cardSelector + ' .dealPrice');
                      $dealPrice.addClass('soldOutPrice');
                    }
                    A.on(event + 'updateTimer', function (displayString) {
                      $clock.text(displayString.timerString);
                      $clockAria.text(displayString.readoutString);
                    });
                    A.on(event + 'soldOut', function () {
                      greyDealPrice();
                    });
                    A.on(event + 'ended', function () {
                      greyDealPrice();
                    });
                  });
                </script>
                <script aria-hidden="true">
                  P.when('A', 'gw-count-down', "#deals-shoveler-ns_591FSDQPH1YD7RKD0WWN_7870_ #ac95070a" + 'beginWatching').execute("#deals-shoveler-ns_591FSDQPH1YD7RKD0WWN_7870_ #ac95070a" + "create-count-down", function (A, GWCountDown) {
                    var dealTimePrefix = {
                      starts_in: "Commence dans",
                      ends_in: "Termine dans",
                      has_ended: "L'offre est terminée",
                      sold_out: "Offre épuisée",
                      on_waitlist: "L'offre est sur la liste d'attente",
                      started: "L'offre a commencé !",
                      starts_in_timer: "Commence dans _hours_ hours _minutes_ minutes _seconds_ seconds",
                      ends_in_timer: "Se termine dans _hours_ heures _minutes_ minutes _seconds_ secondes"
                    };
                    var clock = new GWCountDown("#deals-shoveler-ns_591FSDQPH1YD7RKD0WWN_7870_#ac95070a", "-52747529", "33651471", "{\"lastUpdated\":\"1542721147529\",\"totalCouponCount\":\"0\",\"isValid\":\"1\",\"msToEnd\":\"33651471\",\"msCacheTtl\":\"600000\",\"claimedCouponCount\":\"0\",\"*classHierarchy*\":[\"dcs.model.DealStatus\"],\"dealState\":\"AVAILABLE\",\"*className*\":\"dcs.model.DealStatus\",\"dealItemStatus\":{},\"msToStart\":\"-52747529\",\"percentClaimed\":0}", dealTimePrefix);
                  });
                </script>
                <script aria-hidden="true">
                  P.register("#deals-shoveler-ns_591FSDQPH1YD7RKD0WWN_7870_ #ac95070a" + "beginWatching");
                </script>
              </div>
            </div>
          </span>
        </li>
        <li id="3abb228b" data-sgproduct="{&quot;asin&quot;:&quot;B074V1CL9W&quot;}" class="feed-carousel-card" aria-setsize="15"
          style="margin-right: 10px; display: inline-block;" aria-posinset="4" aria-hidden="false" role="listitem">
          <span class="a-list-item">
            <div class="deals-shoveler-card">
              <div class="deals-shoveler-card-image">
                <a class="a-link-normal  a-inline-block" href="/Philips-01-adulte-ultrasons-%C3%A9lectrique-Remplacement/dp/B074V1CL9W/ref=br_msw_pdt-4?_encoding=UTF8&amp;smid=A1X6FK5RDHNB96&amp;pf_rd_m=A1X6FK5RDHNB96&amp;pf_rd_s=&amp;pf_rd_r=591FSDQPH1YD7RKD0WWN&amp;pf_rd_t=36701&amp;pf_rd_p=bed7bf8d-e817-42ba-ac78-d127dca26759&amp;pf_rd_i=desktop">
                  <img alt="Philips Sonicare HX9192/01 FlexCare Platinum Connectée Brosse à Dents Electrique avec Application" src="https://images-na.ssl-images-amazon.com/images/I/41ns0LEhyNL.__AC_SY200_.jpg"
                    class="product-image" title="Philips Sonicare HX9192/01 FlexCare Platinum Connectée Brosse à Dents Electrique avec Application"
                    data-a-hires="https://images-na.ssl-images-amazon.com/images/I/41ns0LEhyNL.__AC_SY400_.jpg">
                </a>
              </div>
              <div class="deals-shoveler-card-bottom">
                <div class="dealPrice" tabindex="0">
                  <span class="a-size-medium">99,00&nbsp;€</span>
                </div>
                <div class="dealListPrice" aria-hidden="true">
                  <span aria-hidden="true" class="a-size-base a-color-tertiary a-text-strike">199,99&nbsp;€</span>
                </div>
                <div tabindex="0">
                  <div aria-hidden="true">
                    <span class="a-color-tertiary gw-clock">Termine dans 09:05:56</span>
                  </div>
                  <div class="aok-hidden gw-clock-aria" role="timer" aria-hidden="false"></div>
                </div>
                <script aria-hidden="true">
                  P.when('A').execute("#deals-shoveler-ns_591FSDQPH1YD7RKD0WWN_7870_ #3abb228bupdateClock", function (A) {
                    var cardSelector = "#deals-shoveler-ns_591FSDQPH1YD7RKD0WWN_7870_ #3abb228b",
                      $ = A.$,
                      $clock = $(cardSelector + ' .gw-clock'),
                      $clockAria = $(cardSelector + ' .gw-clock-aria'),
                      event = cardSelector.replace(/\s/g, "");
                    function greyDealPrice() {
                      var $dealPrice = $(cardSelector + ' .dealPrice');
                      $dealPrice.addClass('soldOutPrice');
                    }
                    A.on(event + 'updateTimer', function (displayString) {
                      $clock.text(displayString.timerString);
                      $clockAria.text(displayString.readoutString);
                    });
                    A.on(event + 'soldOut', function () {
                      greyDealPrice();
                    });
                    A.on(event + 'ended', function () {
                      greyDealPrice();
                    });
                  });
                </script>
                <script aria-hidden="true">
                  P.when('A', 'gw-count-down', "#deals-shoveler-ns_591FSDQPH1YD7RKD0WWN_7870_ #3abb228b" + 'beginWatching').execute("#deals-shoveler-ns_591FSDQPH1YD7RKD0WWN_7870_ #3abb228b" + "create-count-down", function (A, GWCountDown) {
                    var dealTimePrefix = {
                      starts_in: "Commence dans",
                      ends_in: "Termine dans",
                      has_ended: "L'offre est terminée",
                      sold_out: "Offre épuisée",
                      on_waitlist: "L'offre est sur la liste d'attente",
                      started: "L'offre a commencé !",
                      starts_in_timer: "Commence dans _hours_ hours _minutes_ minutes _seconds_ seconds",
                      ends_in_timer: "Se termine dans _hours_ heures _minutes_ minutes _seconds_ secondes"
                    };
                    var clock = new GWCountDown("#deals-shoveler-ns_591FSDQPH1YD7RKD0WWN_7870_#3abb228b", "-52747529", "33651471", "{\"lastUpdated\":\"1542721147529\",\"totalCouponCount\":\"0\",\"isValid\":\"1\",\"msToEnd\":\"33651471\",\"msCacheTtl\":\"600000\",\"claimedCouponCount\":\"0\",\"*classHierarchy*\":[\"dcs.model.DealStatus\"],\"dealState\":\"AVAILABLE\",\"*className*\":\"dcs.model.DealStatus\",\"dealItemStatus\":{},\"msToStart\":\"-52747529\",\"percentClaimed\":0}", dealTimePrefix);
                  });
                </script>
                <script aria-hidden="true">
                  P.register("#deals-shoveler-ns_591FSDQPH1YD7RKD0WWN_7870_ #3abb228b" + "beginWatching");
                </script>
              </div>
            </div>
          </span>
        </li>
        <li id="44c1354d" data-sgproduct="{&quot;asin&quot;:&quot;B01MDMZGJO&quot;}" class="feed-carousel-card" aria-setsize="15"
          style="margin-right: 10px; display: inline-block;" aria-posinset="5" aria-hidden="false" role="listitem">
          <span class="a-list-item">
            <div class="deals-shoveler-card">
              <div class="deals-shoveler-card-image">
                <a class="a-link-normal  a-inline-block" href="/apb/page/ref=br_msw_pdt-5?_encoding=UTF8&amp;deals=44c1354d&amp;handlerName=OctopusDealLandingStream&amp;marketplaceId=A13V1IB3VIYZZH&amp;smid=A3OTJM0N8D6GXD&amp;pf_rd_m=A1X6FK5RDHNB96&amp;pf_rd_s=&amp;pf_rd_r=591FSDQPH1YD7RKD0WWN&amp;pf_rd_t=36701&amp;pf_rd_p=bed7bf8d-e817-42ba-ac78-d127dca26759&amp;pf_rd_i=desktop">
                  <img alt="-25% sur les moniteurs bébé" src="https://images-na.ssl-images-amazon.com/images/I/41kHlP9bDKL.__AC_SY200_.jpg"
                    class="product-image" title="-25% sur les moniteurs bébé" data-a-hires="https://images-na.ssl-images-amazon.com/images/I/41kHlP9bDKL.__AC_SY400_.jpg">
                </a>
              </div>
              <div class="deals-shoveler-card-bottom">
                <div class="dealPrice" tabindex="0">
                  <span aria-hidden="true" class="a-size-medium">32,99&nbsp;€ - 59,24&nbsp;€</span>
                  <span class="aok-hide-text">de 32,99&nbsp;€ à 59,24&nbsp;€</span>
                </div>
                <div class="dealListPrice" aria-hidden="true"></div>
                <div tabindex="0">
                  <div aria-hidden="true">
                    <span class="a-color-tertiary gw-clock">Termine dans 09:00:57</span>
                  </div>
                  <div class="aok-hidden gw-clock-aria" role="timer" aria-hidden="false"></div>
                </div>
                <script aria-hidden="true">
                  P.when('A').execute("#deals-shoveler-ns_591FSDQPH1YD7RKD0WWN_7870_ #44c1354dupdateClock", function (A) {
                    var cardSelector = "#deals-shoveler-ns_591FSDQPH1YD7RKD0WWN_7870_ #44c1354d",
                      $ = A.$,
                      $clock = $(cardSelector + ' .gw-clock'),
                      $clockAria = $(cardSelector + ' .gw-clock-aria'),
                      event = cardSelector.replace(/\s/g, "");
                    function greyDealPrice() {
                      var $dealPrice = $(cardSelector + ' .dealPrice');
                      $dealPrice.addClass('soldOutPrice');
                    }
                    A.on(event + 'updateTimer', function (displayString) {
                      $clock.text(displayString.timerString);
                      $clockAria.text(displayString.readoutString);
                    });
                    A.on(event + 'soldOut', function () {
                      greyDealPrice();
                    });
                    A.on(event + 'ended', function () {
                      greyDealPrice();
                    });
                  });
                </script>
                <script aria-hidden="true">
                  P.when('A', 'gw-count-down', "#deals-shoveler-ns_591FSDQPH1YD7RKD0WWN_7870_ #44c1354d" + 'beginWatching').execute("#deals-shoveler-ns_591FSDQPH1YD7RKD0WWN_7870_ #44c1354d" + "create-count-down", function (A, GWCountDown) {
                    var dealTimePrefix = {
                      starts_in: "Commence dans",
                      ends_in: "Termine dans",
                      has_ended: "L'offre est terminée",
                      sold_out: "Offre épuisée",
                      on_waitlist: "L'offre est sur la liste d'attente",
                      started: "L'offre a commencé !",
                      starts_in_timer: "Commence dans _hours_ hours _minutes_ minutes _seconds_ seconds",
                      ends_in_timer: "Se termine dans _hours_ heures _minutes_ minutes _seconds_ secondes"
                    };
                    var clock = new GWCountDown("#deals-shoveler-ns_591FSDQPH1YD7RKD0WWN_7870_#44c1354d", "-52747529", "33352471", "{\"lastUpdated\":\"1542721147529\",\"totalCouponCount\":\"0\",\"isValid\":\"1\",\"msToEnd\":\"33352471\",\"msCacheTtl\":\"600000\",\"claimedCouponCount\":\"0\",\"*classHierarchy*\":[\"dcs.model.DealStatus\"],\"dealState\":\"AVAILABLE\",\"*className*\":\"dcs.model.DealStatus\",\"dealItemStatus\":{},\"msToStart\":\"-52747529\",\"percentClaimed\":0}", dealTimePrefix);
                  });
                </script>
                <script aria-hidden="true">
                  P.register("#deals-shoveler-ns_591FSDQPH1YD7RKD0WWN_7870_ #44c1354d" + "beginWatching");
                </script>
              </div>
            </div>
          </span>
        </li>
        <li id="6dff88be" data-sgproduct="{&quot;asin&quot;:&quot;B06XYGLZTB&quot;}" class="feed-carousel-card" aria-setsize="15"
          style="margin-right: 10px; display: inline-block;" aria-posinset="6" aria-hidden="false" role="listitem">
          <span class="a-list-item">
            <div class="deals-shoveler-card">
              <div class="deals-shoveler-card-image">
                <a class="a-link-normal  a-inline-block" href="/apb/page/ref=br_msw_pdt-6?_encoding=UTF8&amp;deals=6dff88be&amp;handlerName=OctopusDealLandingStream&amp;marketplaceId=A13V1IB3VIYZZH&amp;smid=ABYTQII5SQ61Z&amp;pf_rd_m=A1X6FK5RDHNB96&amp;pf_rd_s=&amp;pf_rd_r=591FSDQPH1YD7RKD0WWN&amp;pf_rd_t=36701&amp;pf_rd_p=bed7bf8d-e817-42ba-ac78-d127dca26759&amp;pf_rd_i=desktop">
                  <img alt="AVANTEK: -30% sur les sonnettes D-3B" src="https://images-na.ssl-images-amazon.com/images/I/31CgQhK%2BEFL.__AC_SY200_.jpg"
                    class="product-image" title="AVANTEK: -30% sur les sonnettes D-3B" data-a-hires="https://images-na.ssl-images-amazon.com/images/I/31CgQhK%2BEFL.__AC_SY400_.jpg">
                </a>
              </div>
              <div class="deals-shoveler-card-bottom">
                <div class="dealPrice" tabindex="0">
                  <span aria-hidden="true" class="a-size-medium">12,49&nbsp;€ - 19,99&nbsp;€</span>
                  <span class="aok-hide-text">de 12,49&nbsp;€ à 19,99&nbsp;€</span>
                </div>
                <div class="dealListPrice" aria-hidden="true"></div>
                <div tabindex="0">
                  <div aria-hidden="true">
                    <span class="a-color-tertiary gw-clock">Termine dans 09:00:57</span>
                  </div>
                  <div class="aok-hidden gw-clock-aria" role="timer" aria-hidden="false"></div>
                </div>
                <script aria-hidden="true">
                  P.when('A').execute("#deals-shoveler-ns_591FSDQPH1YD7RKD0WWN_7870_ #6dff88beupdateClock", function (A) {
                    var cardSelector = "#deals-shoveler-ns_591FSDQPH1YD7RKD0WWN_7870_ #6dff88be",
                      $ = A.$,
                      $clock = $(cardSelector + ' .gw-clock'),
                      $clockAria = $(cardSelector + ' .gw-clock-aria'),
                      event = cardSelector.replace(/\s/g, "");
                    function greyDealPrice() {
                      var $dealPrice = $(cardSelector + ' .dealPrice');
                      $dealPrice.addClass('soldOutPrice');
                    }
                    A.on(event + 'updateTimer', function (displayString) {
                      $clock.text(displayString.timerString);
                      $clockAria.text(displayString.readoutString);
                    });
                    A.on(event + 'soldOut', function () {
                      greyDealPrice();
                    });
                    A.on(event + 'ended', function () {
                      greyDealPrice();
                    });
                  });
                </script>
                <script aria-hidden="true">
                  P.when('A', 'gw-count-down', "#deals-shoveler-ns_591FSDQPH1YD7RKD0WWN_7870_ #6dff88be" + 'beginWatching').execute("#deals-shoveler-ns_591FSDQPH1YD7RKD0WWN_7870_ #6dff88be" + "create-count-down", function (A, GWCountDown) {
                    var dealTimePrefix = {
                      starts_in: "Commence dans",
                      ends_in: "Termine dans",
                      has_ended: "L'offre est terminée",
                      sold_out: "Offre épuisée",
                      on_waitlist: "L'offre est sur la liste d'attente",
                      started: "L'offre a commencé !",
                      starts_in_timer: "Commence dans _hours_ hours _minutes_ minutes _seconds_ seconds",
                      ends_in_timer: "Se termine dans _hours_ heures _minutes_ minutes _seconds_ secondes"
                    };
                    var clock = new GWCountDown("#deals-shoveler-ns_591FSDQPH1YD7RKD0WWN_7870_#6dff88be", "-52747529", "33352471", "{\"lastUpdated\":\"1542721147529\",\"totalCouponCount\":\"0\",\"isValid\":\"1\",\"msToEnd\":\"33352471\",\"msCacheTtl\":\"600000\",\"claimedCouponCount\":\"0\",\"*classHierarchy*\":[\"dcs.model.DealStatus\"],\"dealState\":\"AVAILABLE\",\"*className*\":\"dcs.model.DealStatus\",\"dealItemStatus\":{},\"msToStart\":\"-52747529\",\"percentClaimed\":0}", dealTimePrefix);
                  });
                </script>
                <script aria-hidden="true">
                  P.register("#deals-shoveler-ns_591FSDQPH1YD7RKD0WWN_7870_ #6dff88be" + "beginWatching");
                </script>
              </div>
            </div>
          </span>
        </li>
        <li id="4422b8b6" data-sgproduct="{&quot;asin&quot;:&quot;B0747HRG5J&quot;}" class="feed-carousel-card" aria-setsize="15"
          style="margin-right: 10px; display: inline-block;" aria-posinset="7" aria-hidden="false" role="listitem">
          <span class="a-list-item">
            <div class="deals-shoveler-card">
              <div class="deals-shoveler-card-image">
                <a class="a-link-normal  a-inline-block" href="/apb/page/ref=br_msw_pdt-7?_encoding=UTF8&amp;deals=4422b8b6&amp;handlerName=OctopusDealLandingStream&amp;marketplaceId=A13V1IB3VIYZZH&amp;smid=A1P46OJI07I7A2&amp;pf_rd_m=A1X6FK5RDHNB96&amp;pf_rd_s=&amp;pf_rd_r=591FSDQPH1YD7RKD0WWN&amp;pf_rd_t=36701&amp;pf_rd_p=bed7bf8d-e817-42ba-ac78-d127dca26759&amp;pf_rd_i=desktop">
                  <img alt="Jusqu'à -46% sur une sélection de bracelets et bijoux" src="https://images-na.ssl-images-amazon.com/images/I/51Lie2JrIML.__AC_SY200_.jpg"
                    class="product-image" title="Jusqu'à -46% sur une sélection de bracelets et bijoux" data-a-hires="https://images-na.ssl-images-amazon.com/images/I/51Lie2JrIML.__AC_SY400_.jpg">
                </a>
              </div>
              <div class="deals-shoveler-card-bottom">
                <div class="dealPrice" tabindex="0">
                  <span aria-hidden="true" class="a-size-medium">10,93&nbsp;€ - 20,24&nbsp;€</span>
                  <span class="aok-hide-text">de 10,93&nbsp;€ à 20,24&nbsp;€</span>
                </div>
                <div class="dealListPrice" aria-hidden="true"></div>
                <div tabindex="0">
                  <div aria-hidden="true">
                    <span class="a-color-tertiary gw-clock">Termine dans 09:00:57</span>
                  </div>
                  <div class="aok-hidden gw-clock-aria" role="timer" aria-hidden="false"></div>
                </div>
                <script aria-hidden="true">
                  P.when('A').execute("#deals-shoveler-ns_591FSDQPH1YD7RKD0WWN_7870_ #4422b8b6updateClock", function (A) {
                    var cardSelector = "#deals-shoveler-ns_591FSDQPH1YD7RKD0WWN_7870_ #4422b8b6",
                      $ = A.$,
                      $clock = $(cardSelector + ' .gw-clock'),
                      $clockAria = $(cardSelector + ' .gw-clock-aria'),
                      event = cardSelector.replace(/\s/g, "");
                    function greyDealPrice() {
                      var $dealPrice = $(cardSelector + ' .dealPrice');
                      $dealPrice.addClass('soldOutPrice');
                    }
                    A.on(event + 'updateTimer', function (displayString) {
                      $clock.text(displayString.timerString);
                      $clockAria.text(displayString.readoutString);
                    });
                    A.on(event + 'soldOut', function () {
                      greyDealPrice();
                    });
                    A.on(event + 'ended', function () {
                      greyDealPrice();
                    });
                  });
                </script>
                <script aria-hidden="true">
                  P.when('A', 'gw-count-down', "#deals-shoveler-ns_591FSDQPH1YD7RKD0WWN_7870_ #4422b8b6" + 'beginWatching').execute("#deals-shoveler-ns_591FSDQPH1YD7RKD0WWN_7870_ #4422b8b6" + "create-count-down", function (A, GWCountDown) {
                    var dealTimePrefix = {
                      starts_in: "Commence dans",
                      ends_in: "Termine dans",
                      has_ended: "L'offre est terminée",
                      sold_out: "Offre épuisée",
                      on_waitlist: "L'offre est sur la liste d'attente",
                      started: "L'offre a commencé !",
                      starts_in_timer: "Commence dans _hours_ hours _minutes_ minutes _seconds_ seconds",
                      ends_in_timer: "Se termine dans _hours_ heures _minutes_ minutes _seconds_ secondes"
                    };
                    var clock = new GWCountDown("#deals-shoveler-ns_591FSDQPH1YD7RKD0WWN_7870_#4422b8b6", "-52747529", "33352471", "{\"lastUpdated\":\"1542721147529\",\"totalCouponCount\":\"0\",\"isValid\":\"1\",\"msToEnd\":\"33352471\",\"msCacheTtl\":\"600000\",\"claimedCouponCount\":\"0\",\"*classHierarchy*\":[\"dcs.model.DealStatus\"],\"dealState\":\"AVAILABLE\",\"*className*\":\"dcs.model.DealStatus\",\"dealItemStatus\":{},\"msToStart\":\"-52747529\",\"percentClaimed\":0}", dealTimePrefix);
                  });
                </script>
                <script aria-hidden="true">
                  P.register("#deals-shoveler-ns_591FSDQPH1YD7RKD0WWN_7870_ #4422b8b6" + "beginWatching");
                </script>
              </div>
            </div>
          </span>
        </li>


        <li id="f0eff497" data-sgproduct="{&quot;asin&quot;:&quot;B06XDCVP3B&quot;}" class="feed-carousel-card" aria-setsize="15"
          style="margin-right: 10px; display: inline-block;" aria-posinset="8" aria-hidden="false" role="listitem">
          <span class="a-list-item">
            <div class="deals-shoveler-card">
              <div class="deals-shoveler-card-image">
                <a class="a-link-normal  a-inline-block" href="/apb/page/ref=br_msw_pdt-8?_encoding=UTF8&amp;deals=f0eff497&amp;handlerName=OctopusDealLandingStream&amp;marketplaceId=A13V1IB3VIYZZH&amp;smid=A3SJ5WMXJ3U56K&amp;pf_rd_m=A1X6FK5RDHNB96&amp;pf_rd_s=&amp;pf_rd_r=591FSDQPH1YD7RKD0WWN&amp;pf_rd_t=36701&amp;pf_rd_p=bed7bf8d-e817-42ba-ac78-d127dca26759&amp;pf_rd_i=desktop">
                  <img alt="Jusqu'à -30% sur une sélection de bureaux" src="https://images-na.ssl-images-amazon.com/images/I/41sm9K0KFhL.__AC_SY200_.jpg"
                    class="product-image" title="Jusqu'à -30% sur une sélection de bureaux" data-a-hires="https://images-na.ssl-images-amazon.com/images/I/41sm9K0KFhL.__AC_SY400_.jpg">
                </a>
              </div>
              <div class="deals-shoveler-card-bottom">
                <div class="dealPrice" tabindex="0">
                  <span class="a-size-medium">58,09&nbsp;€</span>
                </div>
                <div class="dealListPrice" aria-hidden="true">
                  <span aria-hidden="true" class="a-size-base a-color-tertiary a-text-strike">99,99&nbsp;€</span>
                </div>
                <div tabindex="0">
                  <div aria-hidden="true">
                    <span class="a-color-tertiary gw-clock">Termine dans 09:00:57</span>
                  </div>
                  <div class="aok-hidden gw-clock-aria" role="timer" aria-hidden="false"></div>
                </div>
              </div>
            </div>
          </span>
        </li>
        <li id="83ac3999" data-sgproduct="{&quot;asin&quot;:&quot;B06XK7PC8G&quot;}" class="feed-carousel-card" aria-setsize="15"
          style="margin-right: 10px; display: inline-block;" aria-posinset="9" aria-hidden="false" role="listitem">
          <span class="a-list-item">
            <div class="deals-shoveler-card">
              <div class="deals-shoveler-card-image">
                <a class="a-link-normal  a-inline-block" href="/apb/page/ref=br_msw_pdt-9?_encoding=UTF8&amp;deals=83ac3999&amp;handlerName=OctopusDealLandingStream&amp;marketplaceId=A13V1IB3VIYZZH&amp;smid=A20LYM9F0UVH81&amp;pf_rd_m=A1X6FK5RDHNB96&amp;pf_rd_s=&amp;pf_rd_r=591FSDQPH1YD7RKD0WWN&amp;pf_rd_t=36701&amp;pf_rd_p=bed7bf8d-e817-42ba-ac78-d127dca26759&amp;pf_rd_i=desktop">
                  <img alt="Jusqu'à -30% sur les accessoires pour animaux de compagnie" src="https://images-na.ssl-images-amazon.com/images/I/51EREGhiCRL.__AC_SY200_.jpg"
                    class="product-image" title="Jusqu'à -30% sur les accessoires pour animaux de compagnie" data-a-hires="https://images-na.ssl-images-amazon.com/images/I/51EREGhiCRL.__AC_SY400_.jpg">
                </a>
              </div>
              <div class="deals-shoveler-card-bottom">
                <div class="dealPrice" tabindex="0">
                  <span aria-hidden="true" class="a-size-medium">15,29&nbsp;€ - 21,69&nbsp;€</span>
                  <span class="aok-hide-text">de 15,29&nbsp;€ à 21,69&nbsp;€</span>
                </div>
                <div class="dealListPrice" aria-hidden="true"></div>
                <div tabindex="0">
                  <div aria-hidden="true">
                    <span class="a-color-tertiary gw-clock">Termine dans 09:00:57</span>
                  </div>
                  <div class="aok-hidden gw-clock-aria" role="timer" aria-hidden="false"></div>
                </div>
              </div>
            </div>
          </span>
        </li>
        <li id="a9ccde9f" data-sgproduct="{&quot;asin&quot;:&quot;B06XBZH1DZ&quot;}" class="feed-carousel-card" aria-setsize="15"
          style="margin-right: 10px; display: inline-block;" aria-posinset="10" aria-hidden="false" role="listitem">
          <span class="a-list-item">
            <div class="deals-shoveler-card">
              <div class="deals-shoveler-card-image">
                <a class="a-link-normal  a-inline-block" href="/apb/page/ref=br_msw_pdt-10?_encoding=UTF8&amp;deals=a9ccde9f&amp;handlerName=OctopusDealLandingStream&amp;marketplaceId=A13V1IB3VIYZZH&amp;smid=A1X6FK5RDHNB96&amp;pf_rd_m=A1X6FK5RDHNB96&amp;pf_rd_s=&amp;pf_rd_r=591FSDQPH1YD7RKD0WWN&amp;pf_rd_t=36701&amp;pf_rd_p=bed7bf8d-e817-42ba-ac78-d127dca26759&amp;pf_rd_i=desktop">
                  <img alt="Jusqu'à -25% sur RockJam" src="https://images-na.ssl-images-amazon.com/images/I/41frVhz5ISL.__AC_SY200_.jpg" class="product-image"
                    title="Jusqu'à -25% sur RockJam" data-a-hires="https://images-na.ssl-images-amazon.com/images/I/41frVhz5ISL.__AC_SY400_.jpg">
                </a>
              </div>
              <div class="deals-shoveler-card-bottom">
                <div class="dealPrice" tabindex="0">
                  <span class="a-size-medium">90,49&nbsp;€</span>
                </div>
                <div class="dealListPrice" aria-hidden="true">
                  <span aria-hidden="true" class="a-size-base a-color-tertiary a-text-strike">109,99&nbsp;€</span>
                </div>
                <div tabindex="0">
                  <div aria-hidden="true">
                    <span class="a-color-tertiary gw-clock">Termine dans 09:05:56</span>
                  </div>
                  <div class="aok-hidden gw-clock-aria" role="timer" aria-hidden="false"></div>
                </div>
              </div>
            </div>
          </span>
        </li>
        <li id="21548c02" data-sgproduct="{&quot;asin&quot;:&quot;B07FY649WN&quot;}" class="feed-carousel-card" aria-setsize="15"
          style="margin-right: 10px; display: inline-block;" aria-posinset="11" aria-hidden="false" role="listitem">
          <span class="a-list-item">
            <div class="deals-shoveler-card">
              <div class="deals-shoveler-card-image">
                <a class="a-link-normal  a-inline-block" href="/BIC-Marking-Marqueurs-Permanents-M%C3%A9talliques/dp/B07FY649WN/ref=br_msw_pdt-11?_encoding=UTF8&amp;smid=A1X6FK5RDHNB96&amp;pf_rd_m=A1X6FK5RDHNB96&amp;pf_rd_s=&amp;pf_rd_r=591FSDQPH1YD7RKD0WWN&amp;pf_rd_t=36701&amp;pf_rd_p=bed7bf8d-e817-42ba-ac78-d127dca26759&amp;pf_rd_i=desktop">
                  <img alt="BIC Boîte de 20 Marqueurs Permanents - Assortiment de Couleurs dont 3&nbsp;Métalliques" src="https://images-na.ssl-images-amazon.com/images/I/61fM5CJh-yL.__AC_SY200_.jpg"
                    class="product-image" title="BIC Boîte de 20 Marqueurs Permanents - Assortiment de Couleurs dont 3&nbsp;Métalliques"
                    data-a-hires="https://images-na.ssl-images-amazon.com/images/I/61fM5CJh-yL.__AC_SY400_.jpg">
                </a>
              </div>
              <div class="deals-shoveler-card-bottom">
                <div class="dealPrice" tabindex="0">
                  <span class="a-size-medium">12,00&nbsp;€</span>
                </div>
                <div class="dealListPrice" aria-hidden="true">
                  <span aria-hidden="true" class="a-size-base a-color-tertiary a-text-strike">15,00&nbsp;€</span>
                </div>
                <div tabindex="0">
                  <div aria-hidden="true">
                    <span class="a-color-tertiary gw-clock">Termine dans 08:50:57</span>
                  </div>
                  <div class="aok-hidden gw-clock-aria" role="timer" aria-hidden="false"></div>
                </div>
              </div>
            </div>
          </span>
        </li>
        <li id="ab85875b" data-sgproduct="{&quot;asin&quot;:&quot;B07KJY94LZ&quot;}" class="feed-carousel-card" aria-setsize="15"
          style="margin-right: 10px; display: inline-block;" aria-posinset="12" aria-hidden="false" role="listitem">
          <span class="a-list-item">
            <div class="deals-shoveler-card">
              <div class="deals-shoveler-card-image">
                <a class="a-link-normal  a-inline-block" href="/s/browse/ref=br_msw_pdt-12?_encoding=UTF8&amp;field-enc-merchantbin=A1X6FK5RDHNB96&amp;node=15766813031&amp;smid=A1X6FK5RDHNB96&amp;pf_rd_m=A1X6FK5RDHNB96&amp;pf_rd_s=&amp;pf_rd_r=591FSDQPH1YD7RKD0WWN&amp;pf_rd_t=36701&amp;pf_rd_p=bed7bf8d-e817-42ba-ac78-d127dca26759&amp;pf_rd_i=desktop">
                  <img alt="La PS4 500 Go + Spiderman à 249.99€, God of War à 29.99€ et jusqu'à -62% sur une sélection de jeux, consoles et accessoires Sony"
                    src="https://images-na.ssl-images-amazon.com/images/I/41k-1yb-F0L.__AC_SY200_.jpg" class="product-image"
                    title="La PS4 500 Go + Spiderman à 249.99€, God of War à 29.99€ et jusqu'à -62% sur une sélection de jeux, consoles et accessoires Sony"
                    data-a-hires="https://images-na.ssl-images-amazon.com/images/I/41k-1yb-F0L.__AC_SY400_.jpg">
                </a>
              </div>
              <div class="deals-shoveler-card-bottom">
                <div class="dealPrice" tabindex="0">
                  <span aria-hidden="true" class="a-size-medium">19,99&nbsp;€ - 344,99&nbsp;€</span>
                  <span class="aok-hide-text">de 19,99&nbsp;€ à 344,99&nbsp;€</span>
                </div>
                <div class="dealListPrice" aria-hidden="true"></div>
                <div tabindex="0">
                  <div aria-hidden="true">
                    <span class="a-color-tertiary gw-clock"></span>
                  </div>
                  <div class="aok-hidden gw-clock-aria" role="timer" aria-hidden="false"></div>
                </div>
              </div>
            </div>
          </span>
        </li>
        <li id="f9e3fe1b" data-sgproduct="{&quot;asin&quot;:&quot;B0792HCFTG&quot;}" class="feed-carousel-card" aria-setsize="15"
          style="margin-right: 10px; display: inline-block;" aria-posinset="13" aria-hidden="false" role="listitem">
          <span class="a-list-item">
            <div class="deals-shoveler-card">
              <div class="deals-shoveler-card-image">
                <a class="a-link-normal  a-inline-block" href="/Echo-Dot-Enceinte-Connect%C3%A9e-Alexa/dp/B0792HCFTG/ref=br_msw_pdt-13?_encoding=UTF8&amp;smid=A1X6FK5RDHNB96&amp;pf_rd_m=A1X6FK5RDHNB96&amp;pf_rd_s=&amp;pf_rd_r=591FSDQPH1YD7RKD0WWN&amp;pf_rd_t=36701&amp;pf_rd_p=bed7bf8d-e817-42ba-ac78-d127dca26759&amp;pf_rd_i=desktop">
                  <img alt="Économisez 30 € sur Echo Dot (3ème génération)" src="https://images-na.ssl-images-amazon.com/images/I/61u48FEs0rL._SL1000__AC_SY200_.jpg"
                    class="product-image" title="Économisez 30 € sur Echo Dot (3ème génération)" data-a-hires="https://images-na.ssl-images-amazon.com/images/I/61u48FEs0rL._SL1000__AC_SY400_.jpg">
                </a>
              </div>
              <div class="deals-shoveler-card-bottom">
                <div class="dealPrice" tabindex="0">
                  <span class="a-size-medium">29,99&nbsp;€</span>
                </div>
                <div class="dealListPrice" aria-hidden="true">
                  <span aria-hidden="true" class="a-size-base a-color-tertiary a-text-strike">59,99&nbsp;€</span>
                </div>
                <div tabindex="0">
                  <div aria-hidden="true">
                    <span class="a-color-tertiary gw-clock"></span>
                  </div>
                  <div class="aok-hidden gw-clock-aria" role="timer" aria-hidden="false"></div>
                </div>
              </div>
            </div>
          </span>
        </li>
        <li id="a99d33ec" data-sgproduct="{&quot;asin&quot;:&quot;B00E3DVQFS&quot;}" class="feed-carousel-card" aria-setsize="15"
          style="margin-right: 10px; display: inline-block;" aria-posinset="15" aria-hidden="false" role="listitem">
          <span class="a-list-item">
            <div class="deals-shoveler-card">
              <div class="deals-shoveler-card-image">
                <a class="a-link-normal  a-inline-block" href="/s/browse/ref=br_msw_pdt-15?_encoding=UTF8&amp;node=7612369031&amp;smid=A1X6FK5RDHNB96&amp;pf_rd_m=A1X6FK5RDHNB96&amp;pf_rd_s=&amp;pf_rd_r=591FSDQPH1YD7RKD0WWN&amp;pf_rd_t=36701&amp;pf_rd_p=bed7bf8d-e817-42ba-ac78-d127dca26759&amp;pf_rd_i=desktop">
                  <img alt="Jusqu'à -50% sur une sélection de piles Duracell" src="https://images-na.ssl-images-amazon.com/images/I/51Ie7m8GIFL.__AC_SY200_.jpg"
                    class="product-image" title="Jusqu'à -50% sur une sélection de piles Duracell" data-a-hires="https://images-na.ssl-images-amazon.com/images/I/51Ie7m8GIFL.__AC_SY400_.jpg">
                </a>
              </div>
              <div class="deals-shoveler-card-bottom">
                <div class="dealPrice" tabindex="0">
                  <span aria-hidden="true" class="a-size-medium">5,56&nbsp;€ - 7,96&nbsp;€</span>
                  <span class="aok-hide-text">de 5,56&nbsp;€ à 7,96&nbsp;€</span>
                </div>
                <div class="dealListPrice" aria-hidden="true"></div>
                <div tabindex="0">
                  <div aria-hidden="true">
                    <span class="a-color-tertiary gw-clock"></span>
                  </div>
                  <div class="aok-hidden gw-clock-aria" role="timer" aria-hidden="false"></div>
                </div>
              </div>
            </div>
          </span>
        </li>
      </ul>
      <div class="spinner" aria-hidden="true" style="display: none;">
        <img width="100" height="100" src="C:\Users\YOSR\Desktop\commit 12\src\assets\images\product\1.jpg" role="presentation">
      </div>
    </div>

    <a class="feed-carousel-control feed-left feed-control-disabled" tabindex="-1" href="#" aria-label="Diapositive précédente du diaporama"
      aria-hidden="true" style="display: none;">
      <span class="gw-icon feed-arrow"></span>
    </a>
    <a class="feed-carousel-control feed-right" tabindex="-1" href="#" aria-label="Diapositive suivante du diaporama" aria-hidden="true"
      style="display: none;">
      <span class="gw-icon feed-arrow"></span>
    </a>
    <span class="feed-scrollbar">
      <span class="feed-scrollbar-track">
        <span class="feed-scrollbar-thumb" style="width: 365.317px; left: 0px; display: none;"></span>
      </span>
    </span>
  </div>


</div>