<div class="banner-area banner-style-1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner-item banner-1">
                    <a href="shop.html"><img src="src\assets\images\banner\1.jpg" alt="Image of Banner"></a>
                    <div class="banner-info">
                        <h3>OMNIUM TRAINER</h3>
                        <p>LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPISCING ELIT. NAM VOLUTPAT URNA EGET MI AUCTOR ALIQUET. SED NON MAXIMUS ARCU</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="banner-item">
                    <a href="shop.html"><img src="src\assets\images\banner\2.jpg" alt="Image of Banner"></a>
                </div>
                <div class="banner-item">
                    <a href="shop.html"><img src="src\assets\images\banner\3.jpg" alt="Image of Banner"></a>
                </div>
            </div>
        </div>
    </div>
</div>