  <div class="banner-area banner-style-1">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-lg-6">
                      <div class="banner-item banner-1">
                          <a href="shop.html"><img src="src\assets\images\banner\1.png" alt="Image of Banner"></a>
                          <div class="banner-info">
                              <a class="more-info" href="shop.html">MORE INFO</a>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="banner-item">
                          <a href="shop.html"><img src="src\assets\images\banner\2.png" alt="Image of Banner"></a>
                      </div>
                      <div class="banner-item">
                          <a href="shop.html"><img src="src\assets\images\banner\3.png" alt="Image of Banner"></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>