<div class="banner-area banner-style-1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner-item banner-1">
                    <a href="shop.html"><img src="src\assets\images\banner\1.jpg" alt="Image of Banner" style="width:1000px;height:700px;"></a>
                    <div class="banner-info">
                        
                                               
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="banner-item">
                    <a href="shop.html"><img src="src\assets\images\banner\2.jpg" alt="Image of Banner" style="width:1000px;height:350px;"></a>
                </div>
                <div class="banner-item">
                    <a href="shop.html"><img src="src\assets\images\banner\3.jpg" alt="Image of Banner" style="width:1000px;height:350px;"></a>
                </div>
            </div>
        </div>
    </div>
</div>